.sw-cms-el-preview-node-linked-product {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 4px;
    justify-items: center;
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
}
