<div class="sw-cms-el-config-node-linked-product">
    <sw-entity-single-select
        label="Produkt auswählen"
        :repository="productRepository"
        v-model="element.config.product.value">
    </sw-entity-single-select>
</div>
