<div class="sw-cms-el-node-linked-product">
    <div class="sw-cms-el-node-linked-product__placeholder">
        <sw-icon name="default-shopping-paper-bag-product" size="64"></sw-icon>
        <span>{{ $tc('node.linked_product.cmsLabel') }}</span>
        <small>(Vorschau nur in der Storefront sichtbar)</small>
    </div>
</div>
