.sw-cms-el-node-linked-product__placeholder {
    display: grid;
    grid-gap: 12px;
    justify-items: center;
    align-content: center;
    min-height: 150px;
    width: 100%;
    height: 100%;
    background: var(--color-gray-100);
    border: 1px dashed var(--color-gray-400);
    border-radius: 4px;
    padding: 1rem;
    color: var(--color-gray-700);
    text-align: center;
}
